@import '../../scss/utilities';
@import '../../scss/reset';

.container {
  max-width: 1100px;
  margin: auto;
  margin-bottom: 5rem;
}

.recipeResults {
  text-align: center;
}

.heading {
  font-size: 4rem;
  margin: 5rem 0 1.5rem 0;
  font-family: $font-family-special;
}

.bottomLine {
  margin: auto;
  margin-bottom: 6rem;
  width: 13%;
  height: 5px;
  border-bottom: 2px solid $btn-color-secondary;
}

// grid setup
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 7rem;
}
