@import '../../scss/utilities';
@import '../../scss/reset';

.container {
  min-height: 61vh;
  height: fit-content;
  max-width: 1440px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  margin-top: 10rem;
  margin-bottom: 5rem;
  overflow: hidden;
}
