@import '../../scss/utilities';

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
  background-color: $background-color-dark;
  box-shadow: 0 10px 10px -2px rgba(128, 128, 128, 0.178);

  &-logo--container {
    display: flex;
    flex-direction: column;
    margin-right: 20%;
    margin-left: 5%;
  }

  &__logo {
    color: $font-color-btn-color;
    font-size: 6rem;
    font-family: $font-family-special;
    font-weight: 300;
    transition: all 0.15s linear;

    &:hover {
      color: $font-color-btn-color-hover;
    }
  }

  &__link {
    font-size: 1.8rem;
    padding: 1.5rem 0;
    font-weight: 600;
    color: $font-color-main;

    // implementing hover animation
    transition: all 0.2s ease-in-out;

    &:hover {
      color: $font-color-btn-color-hover;
    }

    &--middle {
      position: relative;

      &::before {
        content: '';
        position: absolute;
        text-align: center;
        // to make line not to long
        width: 110%;
        height: 3px;
        bottom: 0;
        // to get line back in the middle
        left: -5%;
        background-color: $btn-color-secondary;
        visibility: hidden;
        transform: scaleX(0);
        transition: all 0.3s ease-in-out;
      }

      &:hover::before {
        visibility: visible;
        transform: scaleX(1);
      }
    }
  }

  &__link--btn {
    color: $font-color-bright;
    background-color: $font-color-btn-color;
    padding: 2rem 2.5rem;
    border-radius: 3px;
    transition: all 0.25s;

    &:hover {
      color: $font-color-main;
      background-color: $btn-color-secondary;
    }
  }

  &__search-container {
    display: flex;
    align-items: center;
  }

  &__search {
    padding-left: 2rem;
    font-size: 2.3rem;
    position: relative;
    &:hover {
      color: gray;
    }

    // setting seperation border to icon. height 200% of el
    &::after {
      content: '';
      height: 220%;
      width: 3px;

      position: absolute;
      right: 45px;
      top: -14px;
      background-color: rgba(128, 128, 128, 0.253);
    }
  }

  &__toggle-search {
    // toggle on search icon click
    display: none;

    // normal styling
    outline: none;
    border-radius: 5px;
    font-weight: 100;
    font-size: 2rem;
    height: 60px;
    width: 600px;
    background-color: $background-color-light;
    padding-left: 1rem;
    border: 2px solid #404040be;
    transition: all 0.15s;
    margin-left: 1.5rem;

    &:hover {
      border-color: $font-color-btn-color;
    }

    &:focus {
      color: $font-color-btn-color;
      border-color: $font-color-btn-color;
    }
  }
}
