@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

// colors
$background-color-light: #fafafa;
$background-color-dark: #f2f3f4;
$font-color-main: #242424;
$font-color-bright: #fff;
$font-color-btn-color: #239753;
$font-color-btn-color-hover: #1c7943;
$font-family-main: 'Roboto', sans-serif;
$font-family-special: 'Pacifico';
$btn-color-secondary: #ff9100;

// Set Text Color
@function set-text-color($color) {
  @if (lightness($color) > 50) {
    @return #000;
  } @else {
    @return #fff;
  }
}
